* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Lato', sans-serif;
  background: cornsilk;
}

header {
  background: #0074D9;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 38px;
  text-transform: uppercase;
}

header .container {
  position: relative;
}

.ribbon-bookmark {
  position: absolute;
  background: #FF4136;
  left: 1rem;
  width: 60px;
  height: 70px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ribbon-bookmark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30px;
  border-left: 30px solid #FF4136;
  border-right: 30px solid #FF4136;
  border-bottom: 30px solid transparent;
}

/* Flash error */
.flash {
	position: absolute;
  top: 15px;
	width: 100%;
	color: #fff;
}

.flash-error {
	margin: 0 auto;
  width: auto;
  max-width: 470px;
	background: #FF4136;
}

.flash-title {
	font-size: 20px;
	font-weight: bold;
	margin-left: .5em;
	padding: .5em;
}

.flash ul {
	list-style-type: disc;
	padding-left: 2em;
	background: cornsilk;
	border: 5px solid #FF4136;
}

.flash li {
	color: #333;
	margin: 1em;
}