* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'Lato', sans-serif;
  background: cornsilk;
}

header {
  background: #0074D9;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 38px;
  text-transform: uppercase;
}

header .container {
  position: relative;
}

.ribbon-bookmark {
  position: absolute;
  background: #FF4136;
  left: 1rem;
  width: 60px;
  height: 70px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ribbon-bookmark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30px;
  border-left: 30px solid #FF4136;
  border-right: 30px solid #FF4136;
  border-bottom: 30px solid transparent;
}

/* Flash error */
.flash {
	position: absolute;
  top: 15px;
	width: 100%;
	color: #fff;
}

.flash-error {
	margin: 0 auto;
  width: auto;
  max-width: 470px;
	background: #FF4136;
}

.flash-title {
	font-size: 20px;
	font-weight: bold;
	margin-left: .5em;
	padding: .5em;
}

.flash ul {
	list-style-type: disc;
	padding-left: 2em;
	background: cornsilk;
	border: 5px solid #FF4136;
}

.flash li {
	color: #333;
	margin: 1em;
}

main {
  width: auto;
  max-width: 1300px;
  margin: 50px auto 0;
  padding: .5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book-cover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%);
  width: 240px;
  height: 300px;
  margin: 0 1em 1.5em;
  padding: 1.25em;
}

.cover-info {
	font-family: "Abril Fatface", serif;
	color: #64696a;
	text-align: center;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.cover-info h2 {
	font-size: 1.4em;
	margin-top: 1.25em;
}

.cover-info span {
	display: block;
	font-family: "Lato", sans-serif;
	font-size: 0.65em;
	margin-top: 1.5em;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
}

.cover-info span:before {
	position: absolute;
	top: -10px;
	left: 40%;
	width: 20%;
	height: 1px;
	background: rgba(0, 0, 0, 0.2);
	content: "";
}

.cover-info p {
	font-size: 0.8em;
	font-family: "Lato", sans-serif;
	text-align: left;
	margin-left: 10px;
}

.btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: .5rem;
	cursor: pointer;
  background: #f0f0f0;
	border: 2px solid transparent;
	border-right: 2px solid #979797;
	border-bottom: 2px solid #979797;
}

.btn:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08); 
}

.btn:active {
	border: 2px solid transparent;
	border-top: 2px solid #979797;
	border-left: 2px solid #979797;
}

.btn img {
	width: 30px;
	height: 30px;
}

/* Tooltip */
[tooltip] {
	position: relative;
}

[tooltip]::before {
	content: "";
	position: absolute;
	top: -6px;
	left: 50%;
	transform: translateX(-50%);
  border-style: solid;
	border-color: rgba(255,255,255,0.7) transparent transparent     transparent;
	opacity: 0;
}

[tooltip]::after {
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	top: -6px;
	transform: translateX(-50%) translateY(-100%);
	background: #fff;
	text-align: center;
	padding: 4px;
	min-width: 90px;
	border-radius: 80px;
	pointer-events: none;
	opacity: 0;
}

[tooltip]::before,
[tooltip]::after {
	transition: all 500ms;
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity: 1;
}

/* Form */
.form-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  rgba(0,0,0,.7);
	display: none;
}

form {
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%);
	background: #0074D9;
	width: 450px;
	padding: 20px 35px;
	border-radius: 8px;
}

form h2 {
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 1em;
	position: relative;
}

form h2::after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 23%;
	width: 50%;
	height: 1px;
	border-bottom: 1px solid #7FDBFF;
}

form input,
form button {
	display: block;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	width: 100%;
	margin-bottom: 1em;
	padding: .75em;
	border-radius: 5px;
	border: 4px solid transparent;
}

form input:focus {
	border: 4px solid #2ECC40;
}

form .button-container {
	display: flex;
	justify-content: space-between;
}

form .btn {
	width: 45%;
	margin-top: 1em;
	text-transform: uppercase;
	color: #0074D9;
	cursor: pointer;
	border-radius: 5px;
	padding: .5em 0;
}

form .btn::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .5em 0;
	content: "";
	color: #fff;
	width: 0;
	transition: width .3s ease;
}

form .btn:hover {
	color: transparent;
}

.btn-save,
.btn-save:active {
	border: 4px solid #2ECC40;
	position: relative;
}

.btn-save::before {
	background: #2ECC40;
}

.btn-save:hover::before {
	content: "Save";
	width: 100%;
}

.btn-cancel,
.btn-cancel:active {
	border: 4px solid #FF4136;
	position: relative;
}

.btn-cancel::before {
	background: #FF4136;
}

.btn-cancel:hover::before {
	content: "Cancel";
	width: 100%;
}

/* Form modal button */
.btn-open-form {
	position: absolute;
	right: 55px;
	bottom: 35px;
	background: #0074D9;
	border: none;
	width: 55px;
	height: 55px;
	opacity: .9;
	transition: all .3s ease;
}

.btn-open-form:hover {
	opacity: 1;
	transform: rotate(90deg) scale(2);
}


/* Book Cover Colours */
.light-blue {
  background-color: #a1cae5;
}

.pink {
  background-color: #f6a7a5;
}

.yellow {
  background-color: #f8eb48;
}

.beige {
  background-color: #f7a56e;
}

.light-beige {
  background-color: #ebc989;
}

.grey {
  background-color: #a6a1a5;
}

.light-grey {
  background-color: #ebe6e5;
}

.teal {
  background-color: #4cbb97;
}

